* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 4vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.logo img {
  width: 10vw;
  height: auto;
}

.btn-signin {
  background-color: var(--primaryColor);
  border-radius: 5%;
  height: 2.5vw;
  width: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-signin h1 {
  font-size: 16px;
  color: white;
  align-self: center;
  font-weight: 400;
}
